/* =========================
   Common Styles
========================= */
/* Reset default margins and padding */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
html, body 
{
    height: 100vh;  /* Set height to 100% of viewport height */
    width: 100vw;   /* Set width to 100% of viewport height */
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    background-color: #002c76;
    overflow: hidden; /* Prevent scrolling */
    text-align: center;
    font-weight: bold;
    color: white;
}
/*reusable container*/
.container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
/* Headers */
#topBar h1 
{
    font-size: clamp(1rem, 1.6vw, 3rem);
    margin: 1.5vh;
}
h1 
{
    font-size: clamp(1rem, 1.6vw, 3rem);
    margin: 3vh;
}
h2 
{
    font-size: clamp(1rem, 1.2vw, 3rem);
    margin: 3vh;
    color:#c41230;
}
/* lists */
li
{
    list-style-type: none; /* Removes individual bullets or numbers */
    font-size: clamp(1rem, 1vw, 3rem);
    margin: 3vh;
}
/*Github Link*/
#github
{
    color:#ffffff;
}
#github:hover
{
    color:#c41230;
}
/* Top Bar */
#topBar 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 7vh; /* Adjust based on page */
    background-color: #c41230;
}
#accountCreated
{
    position: absolute;
    display: flex;
    margin-left: 65%;
    justify-content: center;
    align-items: center;
}
#logoutBtn
{
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    height: auto;
    width: auto;
    border-radius: 20px;
    text-decoration: none;        /* Remove the underline */
    color: white;
    background-color: #c41230;
    cursor: pointer;
    border: none;
}
/* Logo */
#logo 
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    object-fit: contain;
}
/* Background Images */
#bulldog 
{
    position: absolute;
    right: -10%;
    top: -8%;
    opacity: 0.35;
    height: 125%;
    width: auto;
    pointer-events: none;
}
#bomb 
{
    position: absolute;
    left: -10%;
    top: 40%;
    opacity: 0.5;
    height: 90%;
    width: auto;
    pointer-events: none;
}
/* =========================
   Index Page Styles
========================= */
#navMenu 
{
    height: 100%;
    width: 17vw;
    margin: 0 auto;
    z-index: 1;
}
#navMenu .button  
{
    display: flex;                /* Use Flexbox layout */
    justify-content: center;      /* Center text horizontally */
    align-items: center;          /* Center text vertically */
    font-size: clamp(1rem, 1vw, 4rem); /* Scales font size */
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    padding: 5%;
    height: 6vh;
    width: 100%;
    margin: 8vh 0;
    border-radius: 20px;
    text-decoration: none;        /* Remove the underline */
    color: white;
    background-color: #c41230;
    cursor: pointer;
    border: none;
}
/* =========================
   Game Page Styles
========================= */
#game-settings
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #002c76;
}
#game-settings input
{
    width: 5%;
    height: auto;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: white;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 2px 10px;  
    font-size: 2vh;
    line-height: 1.5;   
    z-index: 1;
}
#startGameBtn  
{
    display: flex;                /* Use Flexbox layout */
    justify-content: center;      /* Center text horizontally */
    align-items: center;          /* Center text vertically */
    font-size: clamp(1rem, 1vw, 4rem); /* Scales font size */
    margin: 5vh;
    height: 8%;
    width: 20%;
    border-radius: 20px;
    text-decoration: none;        /* Remove the underline */
    color: white;
    background-color: #c41230;
    cursor: pointer;
    border: none;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}
.settings-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14%;
    background-color: #002c76;
}
.difficulty-btn 
{
    display: flex;                /* Use Flexbox layout */
    justify-content: center;      /* Center text horizontally */
    align-items: center;          /* Center text vertically */
    font-size: clamp(1rem, 1vw, 4rem); /* Scales font size */
    height: 5vh;
    width: 10%;
    margin: 1vw;
    border-radius: 20px;
    text-decoration: none;        /* Remove the underline */
    color: white;
    background-color: #c41230;
    cursor: pointer;
    border: none;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}
.wincon-btn 
{
    display: flex;                /* Use Flexbox layout */
    justify-content: center;      /* Center text horizontally */
    align-items: center;          /* Center text vertically */
    font-size: clamp(1rem, 1vw, 4rem); /* Scales font size */
    height: 5vh;
    width: auto;
    padding: 22px;
    margin: 1vw;
    border-radius: 20px;
    text-decoration: none;        /* Remove the underline */
    color: white;
    background-color: #c41230;
    cursor: pointer;
    border: none;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}
.theme-btn 
{
    display: flex;                /* Use Flexbox layout */
    justify-content: center;      /* Center text horizontally */
    align-items: center;          /* Center text vertically */
    font-size: clamp(1rem, 1vw, 4rem); /* Scales font size */
    height: 5vh;
    width: auto;
    padding: 22px;
    margin: 1vw;
    border-radius: 20px;
    text-decoration: none;        /* Remove the underline */
    color: white;
    background-color: #c41230;
    cursor: pointer;
    border: none;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}
.difficulty-btn.selected 
{
    outline: 2px solid white; /* White outline for the selected button */
    border-color: white; /* Optional: Change border color too */
}
.wincon-btn.selected 
{
    outline: 2px solid white; /* White outline for the selected button */
    border-color: white; /* Optional: Change border color too */
}
.theme-btn.selected 
{
    outline: 2px solid white; /* White outline for the selected button */
    border-color: white; /* Optional: Change border color too */
}
#board 
{
    width: 400px;   /* Default H/W, Actual values will be calculated based upon screen size*/
    height: 400px;
    border: 10px solid #c41230;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 0px;
}
#board div 
{
    width: 48px;        /* Default H/W, Actual values will be calculated based upon screen size*/
    height: 48px;
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.5rem;
}
#board div:not(.tile-clicked):hover
{
    background-color: rgb(226, 226, 226);
    cursor:pointer;
}
.tile-clicked { background-color: darkgrey; }
.tile-clicked:hover
{
    cursor: default;  
}
.x1 { color: #002c76; }
.x2 { color: green; }
.x3 { color: #c41230; }
.x4 { color: navy; }
.x5 { color: brown; }
.x6 { color: teal; }
.x7 { color: black; }
.x8 { color: gray; }
/* In Game Links (Menu Restart) */
.inGameLinks  
{
   display: flex;                /* Use Flexbox layout */
   justify-content: center;      /* Center text horizontally */
   align-items: center;          /* Center text vertically */
   font-size: clamp(1rem, 1.2vw, 4rem); /* Scales font size */
   padding: 1vw;
   height: auto;
   width: auto;
   text-decoration: none;        /* Remove the underline */
   color: white;
   cursor: pointer;
   border: none;
}
/* =========================
   Help & Contact Page Styles
========================= */
#listContainer 
{
    height: 100%;
    width: 50vw;
    margin: 0 auto;
    z-index: 1;
}
/* =========================
   Login & Sign Up Page Styles
========================= */
.userAuth
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    height: 30%;
    width: 20vw;
    margin: 5vh auto;
    z-index: 1;
}
input
{
    width: 60%;
    height: auto;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: white;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 2px 10px;  
    font-size: 2vh;
    line-height: 1.5;   
    z-index: 1;
}
input:focus
{
    border: 2px solid #ffffff;
    outline: none;
}
input::placeholder
{
    color: white;
    opacity: 40%;
}
#userAuthBtn  
{
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    display: flex;                /* Use Flexbox layout */
    justify-content: center;      /* Center text horizontally */
    align-items: center;          /* Center text vertically */
    font-size: 1.5vh; /* Scales font size */
    padding: 5%;
    height: auto;
    width: 75%;
    border-radius: 20px;
    text-decoration: none;        /* Remove the underline */
    color: white;
    background-color: #c41230;
    cursor: pointer;
    border: none;
    z-index: 1;
}
/* =========================
   Leaderboard Styles
========================= */
#leaderboardContainer 
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
    height: 75%;
    text-align: center;
}

/* Leaderboard Table */
table 
{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
table, th, td 
{
    border: 1px solid white;
    text-align: center;
    padding: 8px;
    height: 5%;
}
td 
{
    color: white;
}
.sortingForm
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 1%;
}
.sortingForm button
{
    font-size: clamp(1rem, 0.5vw, 4rem); /* Scales font size */
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    padding: 10px;
    height: 10%;
    width: 12%;
    border-radius: 20px;
    text-decoration: none;        /* Remove the underline */
    color: white;
    background-color: #c41230;
    cursor: pointer;
    border: none;
}